<!DOCTYPE html>
<html>
<head>
<title> My About  </title>
</head>
<header>
<h1> My App </h1>
</header>

<body>

<br>
About Page of my app <br><br><br><br> 
<%= link_to'Home',root_path %> <br><br><br><br>
<%= image_tag 'kishna.jpeg' %>
</body>
