<!DOCTYPE html>
<html>
<head>
<title> My Home </title>
</head>
<header>
<h1> My App </h1>
</header>

<body>

<br>
This is Home Pages of my app <br><br><br><br> 

<%= link_to'About',about_path %> <br><br><br><br>

<%= image_tag 'shiva.jpeg' %>
<br>
<br>
<p>
<%= link_to "Alpha Blog", articles_path %>
</p>
</body>
